* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
}

.users .line {
  height: 13rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.07) 0%, #FF6C02 77.6%);
}
.users .ti .bg-blur {
  background-image: radial-gradient(30.22% 30.22% at 50% 50%, rgba(17, 17, 17, 0.33) 0%, rgba(114, 114, 114, 0) 100%);
}

.describe .line {
  height: 18rem;
  background: linear-gradient(180deg, rgba(255, 92, 0, 0.88) 0%, #FFE500 100%);
}
.describe .ti .bg-blur {
  background-image: radial-gradient(35.79% 31.32% at 50% 50%, rgba(244, 102, 0, 0.306) 0%, rgba(255, 115, 14, 0) 100%);
}

.map .line {
  height: 13rem;
  background: linear-gradient(180deg, rgba(255, 229, 0, 0.88) 0%, #0FC100 100%);
}
.map .ti .bg-blur {
  background-image: radial-gradient(30.22% 30.22% at 50% 50%, rgba(244, 220, 0, 0.33) 0%, rgba(255, 231, 14, 0) 100%);
}

.contact .line {
  height: 8rem;
  background: linear-gradient(180deg, rgba(15, 193, 0, 0.88) 0%, #0988FE 100%);
}
.contact .ti .bg-blur {
  background-image: radial-gradient(30.22% 30.22% at 50% 50%, rgba(107, 244, 0, 0.33) 0%, rgba(149, 255, 14, 0) 100%);
}

.price .line {
  background: linear-gradient(180deg, #0988FE 0%, rgba(165, 50, 255, 0.88) 100%);
}
.price .ti .bg-blur {
  background-image: radial-gradient(30.22% 30.22% at 50% 50%, rgba(0, 127, 244, 0.33) 0%, rgba(14, 110, 255, 0) 100%);
}

.calendar .line {
  height: 8rem;
  background: linear-gradient(180deg, #0988FE 0%, rgba(165, 50, 255, 0.88) 100%);
}
.calendar .ti .bg-blur {
  background-image: radial-gradient(30.22% 30.22% at 50% 50%, rgba(166, 0, 244, 0.33) 0%, rgba(14, 110, 255, 0) 100%);
}

.text-box p {
  font-size: 1.4rem;
  padding: 1rem;
  padding-top: 1.4rem;
  text-align: justify;
}

.maciej {
  background: url("../img/Talar.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.jakub {
  background: url("../img/KUBAzm2.jpg");
  background-size: cover;
  background-position: 0 20%;
  margin: 0 auto;
}

.dot-red {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.81);
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.65);
}

.dot-green {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(24, 160, 12, 0.81);
  box-shadow: 0px 0px 20px rgba(25, 141, 6, 0.84);
}

h2 {
  padding-top: 0.6rem;
  font-size: 2.4rem;
  text-align: center;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 30rem;
}
.photo-container h1 {
  position: relative;
  padding: 1.3rem;
  padding-bottom: 0;
  font-size: 3.2rem;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(90deg, #B5B1B1 0%, rgba(219, 206, 206, 0.6) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: uppercase;
  text-align: center;
}
.photo-container .hero-img {
  position: absolute;
  width: 100%;
  height: 34rem;
  background: url("../img/prague-bg.jpg");
  background-position: 0% 10%;
  background-size: cover;
}
.photo-container .hero-img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.pc {
  display: none;
}

.phone {
  display: block;
}
.phone .title {
  margin-top: 6rem;
  font-size: 2rem;
  font-weight: bold;
  color: #2b2b2b;
  text-align: center;
}
.phone .profile-img-box {
  width: 100%;
  height: 40rem;
  max-width: 36rem;
  margin-bottom: 1rem;
  background-color: #DDD;
  border-radius: 1.5rem;
}
.phone .about-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
}
.phone .about-container .path .message-box {
  display: flex;
  flex-direction: row;
}
.phone .about-container .path .message-box .line-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}
.phone .about-container .path .message-box .line-box .ti {
  position: relative;
  padding: 1.5rem 0;
  font-size: 4rem;
}
.phone .about-container .path .message-box .line-box .ti .bg-blur {
  position: absolute;
  top: -1rem;
  left: -2.5rem;
  width: 9rem;
  height: 9rem;
}
.phone .about-container .path .message-box .line-box .line {
  width: 0.3rem;
  height: 13rem;
  border-radius: 1.5rem;
}
.phone .about-container .path .message-box .describe .line {
  height: 25rem;
}
.phone .about-container .path .message-box .contact .line {
  height: 10rem;
}
.phone .about-container .path .message-box .text-box {
  width: 85%;
}
.phone .about-container .path .message-box .text-box p {
  font-size: 1.4rem;
  padding: 1rem;
  padding-top: 1.5rem;
  text-align: justify;
}

.calendar-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
}
.calendar-container .calendar-box {
  position: relative;
  width: 100%;
  max-width: 55rem;
  height: 16rem;
  background: #070707;
  box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.73);
  border-radius: 1.5rem;
}
.calendar-container .calendar-box h2 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.calendar-container .calendar-box .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.calendar-container .calendar-box .page .date-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendar-container .calendar-box .page .date-box .date-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.calendar-container .calendar-box .page .date-box .date-section .day {
  color: #D1D1D1;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.calendar-container .calendar-box .page .date-box .date-section .day-number {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.calendar-container .calendar-box .page .arrow {
  position: absolute;
  top: 6rem;
  color: #D1BDBD;
  font-size: 1.9rem;
  cursor: pointer;
}
.calendar-container .calendar-box .page .previous-date {
  left: 1.5rem;
}
.calendar-container .calendar-box .page .next-date {
  right: 1.5rem;
}
.calendar-container .calendar-box .page .group {
  position: absolute;
  left: 2.3rem;
  color: #D1D1D1;
  font-size: 1.5em;
}
.calendar-container .calendar-box .page .one {
  top: 8.6rem;
}
.calendar-container .calendar-box .page .two {
  top: 11.6rem;
  left: 2.1rem;
}

.calendar-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.calendar-legend .box-calendar {
  font-size: 1.4rem;
  width: 100%;
  padding-bottom: 1rem;
  text-align: justify;
}
.calendar-legend .box {
  font-size: 1.4rem;
}
.calendar-legend .box .legend-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}
.calendar-legend .box .legend-box p {
  font-size: 1.2rem;
}

footer {
  height: 4rem;
  background-color: #000;
}
footer p {
  color: #fff;
  line-height: 4rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .photo-container h1 {
    font-size: 4.5rem;
  }
  .phone {
    display: none;
  }
  .pc {
    display: block;
  }
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    padding-top: 7rem;
  }
  .about-container .side-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    max-height: 100rem;
  }
  .about-container .side-box .profile-img-box {
    width: 100%;
    height: 40rem;
    max-width: 36rem;
    margin-top: 2rem;
    background-color: #DDD;
    border-radius: 1.5rem;
  }
  .about-container .path {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 26rem;
  }
  .about-container .path .line-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-container .path .line-box .ti {
    position: relative;
    font-size: 4rem;
    padding: 1.5rem 0;
  }
  .about-container .path .line-box .ti .bg-blur {
    position: absolute;
    top: -1rem;
    left: -2.5rem;
    width: 9rem;
    height: 9rem;
  }
  .about-container .path .line-box .line {
    width: 0.3rem;
    border-radius: 1.5rem;
  }
  .about-container .path .line-box .price-text {
    font-size: 1.4rem;
    width: 40rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .calendar-container {
    padding-top: 0;
  }
  .calendar-container .calendar-box {
    height: 22rem;
  }
  .calendar-container .calendar-box h2 {
    font-size: 3rem;
  }
  .calendar-container .calendar-box .page .date-box .date-section .day {
    font-size: 1.5rem;
  }
  .calendar-container .calendar-box .page .date-box .date-section .day-number {
    font-size: 4rem;
  }
  .calendar-container .calendar-box .page .date-box .date-section .dot-red {
    width: 1.7rem;
    height: 1.7rem;
  }
  .calendar-container .calendar-box .page .date-box .date-section .dot-green {
    width: 1.7rem;
    height: 1.7rem;
  }
  .calendar-container .calendar-box .page .arrow {
    top: 9rem;
    font-size: 2.4rem;
  }
  .calendar-container .calendar-box .page .previous-date {
    left: 3.5rem;
  }
  .calendar-container .calendar-box .page .next-date {
    right: 3.5rem;
  }
  .calendar-container .calendar-box .page .group {
    font-size: 2rem;
    left: 4.5rem;
  }
  .calendar-container .calendar-box .page .one {
    top: 13.2rem;
  }
  .calendar-container .calendar-box .page .two {
    top: 16.3rem;
    left: 4.2rem;
  }
  .calendar-legend .box-calendar {
    font-size: 1.4rem;
    width: 58rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .photo-container h1 {
    font-size: 6rem;
  }
}/*# sourceMappingURL=style.css.map */